# DC Housing

In [1]:
#import everything
import pandas as pd

#sklearn is used for the scaler objects that automate some of the process
#from sklearn import preprocessing
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler

filepath = "DC_Properties.csv"

dc_df = pd.read_csv(filepath)
dc_df.head()

/Users/Sahil/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

## Removing Rows where Price is Null

In [2]:
#check for null values, price has 60,741 null entries
dc_df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [3]:
#There are 158,957 rows total, so after removing null values, ther should be about 90,000
dc_df.shape

(158957, 49)

In [4]:
#removing null values
dc_df2 = dc_df.dropna(subset = ["PRICE"]).reset_index()
dc_df2.isnull().sum()

index                     0
Unnamed: 0                0
BATHRM                    0
HF_BATHRM                 0
HEAT                      0
AC                        0
NUM_UNITS             40316
ROOMS                     0
BEDRM                     0
AYB                     112
YR_RMDL               40542
EYB                       0
STORIES               40349
SALEDATE                  1
PRICE                     0
QUALIFIED                 0
SALE_NUM                  0
GBA                   40316
BLDG_NUM                  0
STYLE                 40316
STRUCT                40316
GRADE                 40316
CNDTN                 40316
EXTWALL               40316
ROOF                  40316
INTWALL               40316
KITCHENS              40317
FIREPLACES                0
USECODE                   0
LANDAREA                  0
GIS_LAST_MOD_DTTM         0
SOURCE                    0
CMPLX_NUM             57900
LIVING_GBA            57900
FULLADDRESS           40651
CITY                  40647
STATE                 40647
ZIPCODE                   0
NATIONALGRID          40647
LATITUDE                  0
LONGITUDE                 0
ASSESSMENT_NBHD           0
ASSESSMENT_SUBNBHD    20255
CENSUS_TRACT              0
CENSUS_BLOCK          40647
WARD                      0
SQUARE                    0
X                       101
Y                       101
QUADRANT                101
dtype: int64

In [5]:
#there are 98,216 rows remaining
dc_df2.shape

(98216, 50)

## Z-Score Scaling

In [6]:
#mean and standard deviation have functions that act on a list
mean = dc_df2['PRICE'].mean()
std = dc_df2['PRICE'].std()

mean, std

(931351.5949336156, 7061324.955612032)

In [7]:
#subtract the mean and divide by the standard deviation to get the z-score
price_z_manual = (dc_df2['PRICE'] - mean)/std

In [8]:
#Now the list can be added as a column back to the dataframe
dc_df2["PRICE_Z"] = price_z_manual
dc_df2["PRICE_Z"]

0        0.023175
1        0.165500
2        0.094975
3        0.144257
4        0.016803
           ...
98211   -0.076806
98212   -0.075262
98213   -0.072982
98214   -0.046925
98215   -0.101433
Name: PRICE_Z, Length: 98216, dtype: float64

## Min-Max Scaling

In [9]:
#min and max have functions that act on a list
minimum = dc_df2['PRICE'].min()
maximum = dc_df2['PRICE'].max()
minimum, maximum

(1.0, 137427545.0)

In [10]:
#subtract the minimum and divide by the range to get the normalized value
price_mm_manual = (dc_df2['PRICE'] - minimum)/(maximum-minimum)

In [11]:
#Now the list can be added as a column back to the dataframe
dc_df2["PRICE_MINMAX"] = price_mm_manual
dc_df2["PRICE_MINMAX"]

0        0.007968
1        0.015281
2        0.011657
3        0.014189
4        0.007640
           ...
98211    0.002831
98212    0.002910
98213    0.003027
98214    0.004366
98215    0.001565
Name: PRICE_MINMAX, Length: 98216, dtype: float64

In [12]:
#The relevant columns
dc_df2[["PRICE", "PRICE_Z", "PRICE_MINMAX"]]

           PRICE   PRICE_Z  PRICE_MINMAX
0      1095000.0  0.023175      0.007968
1      2100000.0  0.165500      0.015281
2      1602000.0  0.094975      0.011657
3      1950000.0  0.144257      0.014189
4      1050000.0  0.016803      0.007640
...          ...       ...           ...
98211   389000.0 -0.076806      0.002831
98212   399900.0 -0.075262      0.002910
98213   416000.0 -0.072982      0.003027
98214   600000.0 -0.046925      0.004366
98215   215100.0 -0.101433      0.001565

[98216 rows x 3 columns]